* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
   color: whitesmoke;
    background-color: steelblue;
    padding: 10px
}

nav a {
    color: whitesmoke;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    display: block;
    padding: 20px;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

p {
    padding: 20px;
}
main {
    max-width: 840px;
    font-size: 1.2rem;
}
main img {
    width: 170px;
    height: auto;
    float: right;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;

}
aside  {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: relative;

}
aside img {
    /* position: absolute; */
    bottom: 10px;
    left: 150px;
}
footer {
    
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}

/* Class Selectors */
.box {

    clear: both;
    margin: 1rem;
    border: 1px solid rgba(0, 90, 245, 0.8);
    padding: 1rem;
    background-color: rgba(210,180,140,0.8);
    color: #000;
}